.dash {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: $spacer;
    grid-row-gap: $spacer;

    @media (min-width: 30em) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up('sm') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.dash__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: $border-width solid $border-color;
    @include border-radius($border-radius);
    padding: $card-spacer-y $card-spacer-x;
    text-align: center;
    line-height: 1.2;
}

.dash__panel__stat {
    display: block;
    @include font-size($h2-font-size);
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-bottom: 0.2em;
}

.dash__panel__stat--up,
.dash__panel__stat--down {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        margin-right: 1em;
        font-size: 0.3em;
    }
}

.dash__panel__stat--up {
    &:before {
        border-width: 0 1em 1.5773em 1em;
        border-color: #12bb12 transparent #12bb12 transparent;
    }
}

.dash__panel__stat--down {
    &:before {
        border-width: 1.5773em 1em 0 1em;
        border-color: red transparent red transparent;
    }
}

.dash__panel__stat--good {
    &:before {
        border-color: #12bb12 transparent #12bb12 transparent !important;
    }
}

.dash__panel__stat--bad {
    &:before {
        border-color: red transparent red transparent !important;
    }
}
