.property-images {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  margin: 0 ($grid-gutter-width / 2 * -1);
  padding: 0 ($grid-gutter-width / 2);

  img {
    display: block;
    width: auto;
    height: 8em;
    border-radius: $border-radius;
  }

  img + img {
    margin-left: ($grid-gutter-width / 2);
  }
}
