.roost-steps {
    counter-reset: roost-steps;
    list-style: none;
    padding: 0;

    li {
        counter-increment: roost-steps;
        display: flex;
        margin-bottom: 1rem;
        align-items: flex-start;

        &:before {
            content: counter(roost-steps);
            flex: 0 0 auto;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.75rem;
            margin-top: 0.25rem;
            line-height: 2.5rem;
            font-size: 1.25rem;
            background: $gray-200;
            border-radius: 100%;
            text-align: center;
            font-weight: bold;
        }
    }
}
