.roost-alert {
    background-color: $color-roost-aqua;
    border: 1px solid $color-roost-aqua;
    border-radius: $border-radius;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1), 0 1rem 2rem -0.5rem mix($color-roost-aqua, #fff, 50%);
    max-width: 26rem;
    transition: all 250ms ease-out;
}

.roost-alert--orange {
    background-color: $color-roost-orange;
    border-color: $color-roost-orange;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1), 0 1rem 2rem -0.5rem mix($color-roost-orange, #fff, 50%);
}

.roost-alert--active {
    background: #fff;
    background-color: #fff;
    border-color: $border-color;
    box-shadow: $box-shadow;
}

.roost-alert__step {
    display: none;
    padding: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
        padding: map-get($spacers, 4);
    }

    h3 {
        margin-bottom: 1.1rem;
    }

    & > :first-child {
        margin-top: 0 !important;
    }

    & > :last-child {
        margin-bottom: 0 !important;
    }
}

.roost-alert__step--active {
    display: block;
}

.js-roost-alert-next-step {
    cursor: pointer;
}
