$white: #fff;
$gray-100: #f8f9fa;
$gray-900: #212529;

$color-roost-blue: #215ff1;
$color-roost-aqua: #54fdb1;
$color-roost-teal: #7ce4ec;
$color-roost-orange: #f5af61;
$color-roost-pink: #fd54bb;

$color-facebook-blue: #3b5998;
$color-twitter-blue: #1da1f2;
$color-whatsapp-green: #25d366;

$primary: $color-roost-aqua;
$link-color: $color-roost-blue;

$body-bg: $gray-100;

$component-active-color: $gray-900;
$component-active-bg: $color-roost-aqua;

$headings-font-weight: bold;
$headings-line-height: 1;
