<div class="container">
  <header class="mt-3 mt-md-5 mb-md-4 mb-lg-5">
    <h1>You’re a Roost&nbsp;hero</h1>
  </header>

  <% if(images.length < 1){ %>
  <div class="js-roost-alert mt-4 mt-md-5 roost-alert roost-alert--orange" data-step="0">
    <div class="roost-alert__step roost-alert__step--active js-roost-alert-next-step">
      <h2 style="max-width: 6.5em">Help us test our platform</h2>
      <p>We need your help to test out our photo upload feature.</p>
    </div>
    <div class="roost-alert__step">
      <h3 style="max-width: 6.5em">Help us test our platform</h3>
      <p>Visits from the letting agent are a hassle!</p>
      <p>Soon, Roost will enable tenants to share quarterly photos of the property directly and securely with their
        landlord.</p>
      <p><button class="btn btn-primary btn-block js-roost-alert-next-step">Yeah, I’ll help test that out!</button></p>
    </div>
    <div class="roost-alert__step">
      <h3 style="max-width: 6.5em">Help us test our platform</h3>
      <p>What to do:</p>
      <ol class="roost-steps">
        <li>Switch to your camera app, and take 4 photos of each room in your house.</li>
        <li>Then come back to the Roost app, and upload your snaps.</li>
        <li>We’ll reward you with 500 RST tokens.</li>
      </ol>
      <p><button class="btn btn-primary btn-block js-roost-alert-next-step">Ok, I’m ready</button></p>
    </div>
    <div class="roost-alert__step">
      <h3>Go take<br>your photos!</h3>
      <p>You’re aiming to show that each room is in good condition.</p>
      <p>If it helps, imagine you’re an estate agent, taking photos to wow potential buyers!</p>
      <p><button class="btn btn-primary btn-block js-roost-alert-next-step">Ok, I’m ready</button></p>
    </div>
    <div class="roost-alert__step">
      <h3>Upload your photos</h3>
      <p>Use the form below to add the photos you've just taken.</p>
      <form action="/api/v1/user/upload-images" method="POST" enctype="multipart/form-data">
        <p><input type="file" name="images" id="images" accept='image/*' multiple></p>
        <p><button class="btn btn-primary btn-block">Submit</button></p>
      </form>
    </div>
  </div>
  <% } %>

  <div class="rent-calculator mt-4 mt-md-5 js-rent-calculator">
    <div class="rent-calculator__result">
      <h2>You’d already have £<span class="js-kitty"></span> in your kitty</h2>
      <p>If you’d been roosting instead of renting since <span class="js-since-date"></span>.</p> <button
        class="js-edit-calculation"> <span class="material-icons">create</span> Edit </button>
    </div>
    <div class="rent-calculator__cta">
      <p>How would Roost work for you?</p>
      <h2>Try our rent calculator</h2>
    </div>
    <form class="rent-calculator__form js-rent-calculator-form">
      <div class="form-group"> <label for="rent">Your monthly rent</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">£</div>
          </div> <input type="text" inputmode="numeric" pattern="[0-9]*" required class="form-control" id="rent">
          <div class="input-group-append">
            <div class="input-group-text">/mth</div>
          </div>
        </div>
      </div>
      <div class="form-group"> <label for="months">How long have you been paying?</label>
        <div class="input-group"> <input type="text" inputmode="numeric" pattern="[0-9]*" required class="form-control"
            id="months">
          <div class="input-group-append">
            <div class="input-group-text">months</div>
          </div>
        </div>
      </div> <button type="submit" class="btn btn-primary btn-block js-calculate-kitty">Calculate my kitty</button>
    </form>
  </div>

  <% if(images.length > 0){ %>
    <h2 class="mt-5 mb-3 h6 text-muted">
      Your latest photos
    </h2>
    <div class="property-images">
      <% for (var image in images) { %>
        <img src="/image/<%=images[image].id%>" alt="">
      <% } %>
    </div>
  <% } %>

  <h2 class="mt-5 mb-3 h6 text-muted">
    Here’s how our network is growing.
  </h2>
  <div class="dash mb-5">
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">1</span> landlord </div>
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">1</span> tenant </div>
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">£525</span> rent collected </div>
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">£37.50</span> in trust </div>
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">£11.10</span> in Peepl tokens </div>
    <div class="dash__panel"> <span class="dash__panel__stat dash__panel__stat--up">£0</span> Peepl token price </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
