<div id="signup" class="container" style="max-width: 40em" v-cloak>
  <div class="d-flex align-items-center border-bottom pb-3 mb-3 mt-3">
    <div class="text-muted">
        Download Roost app
    </div>
    <div class="text-roost-aqua ml-auto">
        <i class="material-icons" style="vertical-align: top;">check_circle</i>
    </div>
  </div>
  <div class="d-flex align-items-center border-bottom pb-3 mb-3">
    <div class="text-muted">
        Set up private keys
    </div>
    <div class="text-roost-aqua ml-auto">
        <i class="material-icons" style="vertical-align: top;">check_circle</i>
    </div>
  </div>
  <h1 class="h4 mt-4 mb-3">Create your Roost profile</h1>

  <form action="/api/v1/user/signup" method="POST">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label for="firstNameField">First name</label>
        <input type="text" class="form-control" id="firstNameField" name="firstName" required>
      </div>
      <div class="col-md-6 form-group">
        <label for="lastNameField">Last name</label>
        <input type="text" class="form-control" id="lastNameField" name="lastName" required>
      </div>
    </div>
    <div class="form-group">
      <label for="emailField">Email address</label>
      <input type="email" name="email" class="form-control" id="emailField" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We’ll never share your email with anyone else.</small>
    </div>
    <div class="form-row">
      <div class="col-md-8 form-group">
        <label for="addressLineOneField">First line of your address</label>
        <input type="text" class="form-control" id="addressLineOneField" name="addressLineOne" required>
      </div>
      <div class="col-md-4 form-group">
        <label for="postCodeField">Postcode</label>
        <input type="text" class="form-control" name="postcode" id="postCodeField" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Create profile</button>
  </form>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
